<!-- Header -->
<div class="card-header card-header-content-md-between">
    <div class="mb-2 mb-md-0">
      <form>
        <!-- Search -->
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          <input id="datatableSearch{{id}}" type="search" class="form-control" (input)="rerender($event)" placeholder="Search users" aria-label="Search users">
        </div>
        <!-- End Search -->
      </form>
    </div>

    <div class="d-grid d-sm-flex gap-2">
      <div class="btn-group" *ngIf="ranges != undefined">
        <!-- Daterangepicker -->
        <button id="js-daterangepicker-predefined{{id}}" class="btn btn-white btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi-calendar-week"></i>
          <span class="js-daterangepicker-preview-{{id}} ms-1" >{{ranges[0] +' - '+ ranges[1] }}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
          <a class="dropdown-item pickerDates" id="picker{{ix+1}}" [attr.data-range-key]="item.timeline" type="button" *ngFor="let item of dateRanges; let ix = index;" (click)="filterDate(item.date[0], item.date[1], item.timeline, id, tableName)">{{item?.timeline}}</a>
        </div>
        <!-- End Daterangepicker item.date[0], item.date[1], item.timeline -->
      </div>
      <!-- End Col -->

      <!-- Dropdown -->
      <div class="dropdown">
        <button type="button" class="btn btn-white btn-sm dropdown-toggle w-100" id="usersExportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi-download me-2"></i> Export
        </button>

        <div class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="usersExportDropdown">
          <span class="dropdown-header">Options</span>
          <a id="export-copy{{id}}" class="dropdown-item" href="javascript:;" type="button" (click)="downloadCopy(tableName)">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/illustrations/copy-icon.svg" alt="Image Description">
            Copy
          </a>
          <a id="export-print{{id}}" class="dropdown-item" href="javascript:;" type="button" (click)="downloadPrint(tableName)">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/illustrations/print-icon.svg" alt="Image Description">
            Print
          </a>
          <div class="dropdown-divider"></div>
          <span class="dropdown-header">Download options</span>
          <a id="export-excel{{id}}" class="dropdown-item" href="javascript:;" type="button" (click)="downloadExcel(tableName)">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/brands/excel-icon.svg" alt="Image Description">
            Excel
          </a>
          <a id="export-csv{{id}}" class="dropdown-item" href="javascript:;" type="button" (click)="downloadCsv(tableName)">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/components/placeholder-csv-format.svg" alt="Image Description">
            .CSV
          </a>
          <a id="export-pdf{{id}}" class="dropdown-item" href="javascript:;" type="button" (click)="downloadPdf(tableName)">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/brands/pdf-icon.svg" alt="Image Description">
            PDF
          </a>
        </div>
      </div>
      <!-- End Dropdown -->

      <!-- Dropdown -->
      <div class="dropdown">
        <button type="button" class="btn btn-white btn-sm w-100" id="showHideDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          <i class="bi-table me-1"></i> Columns <span class="badge bg-soft-dark text-dark rounded-circle ms-1">{{header.length}}</span>
        </button>

        <div class="dropdown-menu dropdown-menu-end dropdown-card" aria-labelledby="showHideDropdown" style="width: 15rem;">
          <div class="card card-sm">
            <div class="card-body">
              <div class="d-grid gap-3">
                <!-- Form Switch -->
                <label class="row form-check form-switch" for="toggleColumn_{{i+1}}" *ngFor="let item of header; let i = index;">
                  <span class="col-8 col-sm-9 ms-0">
                    <span class="me-2">{{item.name}}</span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="toggleColumn_{{i+1}}" (change)="showColumn($event, i+1)" checked>
                  </span>
                </label>
                <!-- End Form Switch -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Dropdown -->
    </div>
  </div>
  <!-- End Header -->

  


