<!-- Header -->
<div class="card-header card-header-content-md-between">
    <div class="mb-2 mb-md-0">
      <form>
        <!-- Search -->
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend input-group-text">
            <i class="bi-search"></i>
          </div>
          <input id="datatableSearch{{dateId}}" type="search" class="form-control" (input)="rerender($event)" placeholder="Search users" aria-label="Search users">
        </div>
        <!-- End Search -->
      </form>
    </div>



    <div class="d-grid d-sm-flex gap-2">
      <div class="">
        <!-- Daterangepicker -->
        <button id="js-daterangepicker-predefined{{dateId}}" class="btn btn-white btn-sm dropdown-toggle">
          <i class="bi-calendar-week"></i>
          <span class="js-daterangepicker-predefined{{dateId}}-preview ms-1"></span>
        </button>
        <!-- End Daterangepicker -->
      </div>
      <!-- End Col -->

      <!-- Dropdown -->
      <div class="dropdown">
        <button type="button" class="btn btn-white btn-sm dropdown-toggle w-100" id="usersExportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi-download me-2"></i> Export
        </button>

        <div class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="usersExportDropdown">
          <span class="dropdown-header">Options</span>
          <a id="export-copy{{dateId}}" class="dropdown-item" href="javascript:;" type="button" (click)="downloadCopy(tableName)">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/illustrations/copy-icon.svg" alt="Image Description">
            Copy
          </a>
          <a id="export-print{{dateId}}" class="dropdown-item" href="javascript:;" type="button" (click)="downloadPrint(tableName)">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/illustrations/print-icon.svg" alt="Image Description">
            Print
          </a>
          <div class="dropdown-divider"></div>
          <span class="dropdown-header">Download options</span>
          <a id="export-excel{{dateId}}" class="dropdown-item" href="javascript:;" type="button" (click)="downloadExcel(tableName)">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/brands/excel-icon.svg" alt="Image Description">
            Excel
          </a>
          <a id="export-csv{{dateId}}" class="dropdown-item" href="javascript:;" type="button" (click)="downloadCsv(tableName)">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/components/placeholder-csv-format.svg" alt="Image Description">
            .CSV
          </a>
          <a id="export-pdf{{dateId}}" class="dropdown-item" href="javascript:;" type="button" (click)="downloadPdf(tableName)">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/brands/pdf-icon.svg" alt="Image Description">
            PDF
          </a>
        </div>
      </div>
      <!-- End Dropdown -->

      <!-- Dropdown -->
      <div class="dropdown">
        <button type="button" class="btn btn-white btn-sm w-100" id="showHideDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          <i class="bi-table me-1"></i> Columns <span class="badge bg-soft-dark text-dark rounded-circle ms-1">7</span>
        </button>

        <div class="dropdown-menu dropdown-menu-end dropdown-card" aria-labelledby="showHideDropdown" style="width: 15rem;">
          <div class="card card-sm">
            <div class="card-body">
              <div class="d-grid gap-3">
                <!-- Form Switch -->
                <label class="row form-check form-switch" for="toggleColumn_ref">
                  <span class="col-8 col-sm-9 ms-0">
                    <span class="me-2">Reference</span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="toggleColumn_ref" checked>
                  </span>
                </label>
                <!-- End Form Switch -->

                <!-- Form Switch -->
                <label class="row form-check form-switch" for="toggleColumn_customer">
                  <span class="col-8 col-sm-9 ms-0">
                    <span class="me-2">Customer</span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="toggleColumn_customer" checked>
                  </span>
                </label>
                <!-- End Form Switch -->

                <!-- Form Switch -->
                <label class="row form-check form-switch" for="toggleColumn_amount">
                  <span class="col-8 col-sm-9 ms-0">
                    <span class="me-2">Amount</span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="toggleColumn_amount" checked>
                  </span>
                </label>
                <!-- End Form Switch -->

                <!-- Form Switch -->
                <label class="row form-check form-switch" for="toggleColumn_plan">
                  <span class="col-8 col-sm-9 ms-0">
                    <span class="me-2">Plan</span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="toggleColumn_plan" checked>
                  </span>
                </label>
                <!-- End Form Switch -->

                <!-- Form Switch -->
                <label class="row form-check form-switch" for="toggleColumn_transaction_type">
                  <span class="col-8 col-sm-9 ms-0">
                    <span class="me-2">Transaction Type</span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="toggleColumn_transaction_type" checked>
                  </span>
                </label>
                <!-- End Form Switch -->

                <!-- Form Switch -->
                <label class="row form-check form-switch" for="toggleColumn_date">
                  <span class="col-8 col-sm-9 ms-0">
                    <span class="me-2">Date</span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="toggleColumn_date" checked>
                  </span>
                </label>
                <!-- End Form Switch -->                      

                <!-- Form Switch -->
                <label class="row form-check form-switch" for="toggleColumn_phone_no">
                  <span class="col-8 col-sm-9 ms-0">
                    <span class="me-2">Performed By</span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="toggleColumn_phone_no" >
                  </span>
                </label>
                <!-- End Form Switch -->                      

                <!-- Form Switch -->
                <label class="row form-check form-switch" for="toggleColumn_actions">
                  <span class="col-8 col-sm-9 ms-0">
                    <span class="me-2">Actions</span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="toggleColumn_actions" checked>
                  </span>
                </label>
                <!-- End Form Switch -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Dropdown -->
    </div>
  </div>
  <!-- End Header -->