<div class="card-footer">
    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
      <div class="col-sm mb-2 mb-sm-0">
        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
          <span class="me-2">Showing:</span>

          <!-- Select -->
          <div class="tom-select-custom">
            <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                      "searchInDropdown": false,
                      "hideSearch": true
                    }'>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20" selected>20</option>
              <option value="25">25</option>
            </select>
          </div>
          <!-- End Select -->

          <span class="text-secondary me-2">of</span>

          <!-- Pagination Quantity -->
          <span id="datatableWithPaginationInfoTotalQty">{{tableLength}}</span>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-sm-auto">
        <div class="d-flex justify-content-center justify-content-sm-end">
          <!-- Pagination -->
          <nav id="datatablePagination" aria-label="Activity pagination"></nav>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>