<ng-container *ngIf="isLoggedIn$ | async as isLoggedIn ; else other_content">
<aside class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered bg-white  ">
    <div class="navbar-vertical-container">
      <div class="navbar-vertical-footer-offset">
        <!-- Logo -->

        <a class="navbar-brand" routerLink="/" aria-label="Front">
          <img class="navbar-brand-logo" src="{{logo2}}" alt="Logo" data-hs-theme-appearance="default">
          <!-- <img class="navbar-brand-logo" src="./assets/svg/logos-light/logo.svg" alt="Logo" data-hs-theme-appearance="dark"> -->
          <img class="navbar-brand-logo-mini" src="{{mini_logo}}" alt="Logo" data-hs-theme-appearance="default">
          <!-- <img class="navbar-brand-logo-mini" src="./assets/svg/logos-light/logo-short.svg" alt="Logo" data-hs-theme-appearance="dark"> -->
        </a>

        <!-- End Logo --> 

        <!-- Navbar Vertical Toggle -->
        <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler">
          <i class="bi-arrow-bar-left navbar-toggler-short-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
          <i class="bi-arrow-bar-right navbar-toggler-full-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>
        </button>

        <!-- End Navbar Vertical Toggle -->

        <!-- Content -->
        <div class="navbar-vertical-content">
          <div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav">

            <div class="nav-item">
              <a class="nav-link active" routerLink="/dashboard" data-placement="left">
                <i class="bi-house-door nav-icon"></i>
                <span class="nav-link-title">Dashboard</span>
              </a>
            </div>

            <ng-container *ngFor="let item of sideMenu; let i = index;">

            <span class="dropdown-header mt-4">{{item.title}}</span>
            <small class="bi-three-dots nav-subtitle-replacer"></small>

            <!-- Collapse -->
            <!-- <div class="navbar-nav nav-compact">

            </div> -->
            <div id="navbarVerticalMenuPagesMenu{{i}}">
              <!-- Collapse -->
              <div class="nav-item" *ngFor="let it of item.navItem">
                <a class="nav-link dropdown-toggle " href="#{{it.title}}Menu" role="button" data-bs-toggle="collapse" attr.data-bs-target="#{{it.title}}Menu" aria-expanded="false" attr.aria-controls="{{it.title}}Menu">
                  <i class="bi-{{it.icon}} nav-icon"></i>
                  <span class="nav-link-title">{{it.title}}
                    <span class="badge bg-info rounded-pill ms-1" *ngIf="it.new != undefined && it.new == true">New</span>
                  </span>
                </a>

                <div id="{{it.title}}Menu" class="nav-collapse collapse " attr.data-bs-parent="#navbarVerticalMenuPagesMenu{{i}}">
                  <a class="nav-link" [routerLink]="['/'+link.url]" *ngFor="let link of it.page">{{link.name}}
                    <span class="badge bg-info rounded-pill ms-1" *ngIf="link.new != undefined && link.new == true"> New</span>
                  </a>
                </div>
              </div>
              <!-- End Collapse -->
            </div>
            <!-- End Collapse -->

          </ng-container>



          </div>

        </div>
        <!-- End Content -->

        <!-- Footer -->
        <div class="navbar-vertical-footer">
          <ul class="navbar-vertical-footer-list">
            <li class="navbar-vertical-footer-list-item">
              <!-- Style Switcher -->
              <div class="dropdown dropup">
                <button type="button" class="btn btn-ghost-secondary btn-icon rounded-circle" id="selectThemeDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
                  <i class="bi-brightness-high"></i>
                </button>

                <div class="dropdown-menu navbar-dropdown-menu navbar-dropdown-menu-borderless" aria-labelledby="selectThemeDropdown">
                  <a class="dropdown-item" href="javascript:;" data-icon="bi-moon-stars" data-value="auto">
                    <i class="bi-moon-stars me-2"></i>
                    <span class="text-truncate" title="Auto (system default)">Auto (system default)</span>
                  </a>
                  <a class="dropdown-item" href="javascript:;" data-icon="bi-brightness-high" data-value="default">
                    <i class="bi-brightness-high me-2"></i>
                    <span class="text-truncate" title="Default (light mode)">Default (light mode)</span>
                  </a>
                  <a class="dropdown-item active" href="javascript:;" data-icon="bi-moon" data-value="dark">
                    <i class="bi-moon me-2"></i>
                    <span class="text-truncate" title="Dark">Dark</span>
                  </a>
                </div>
              </div>

              <!-- End Style Switcher -->
            </li>

            <li class="navbar-vertical-footer-list-item">
              <!-- Other Links -->
              <div class="dropdown dropup">
                <button type="button" class="btn btn-ghost-secondary btn-icon rounded-circle" id="otherLinksDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
                  <i class="bi-info-circle"></i>
                </button>

                <div class="dropdown-menu navbar-dropdown-menu-borderless" aria-labelledby="otherLinksDropdown">
                  <span class="dropdown-header">Help</span>
                  <a class="dropdown-item" href="javascript:;">
                    <i class="bi-journals dropdown-item-icon"></i>
                    <span class="text-truncate" title="Resources &amp; tutorials">Resources &amp; tutorials 
                      <small class="badge bg-info rounded-pill ms-1">Coming Soon</small>
                    </span>
                  </a>
                  <a class="dropdown-item" href="https://moloyal.com">
                    <i class="bi-gift dropdown-item-icon"></i>
                    <span class="text-truncate" title="Go to Moloyal website">Go to Moloyal website</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <span class="dropdown-header">Support</span>
                  <a class="dropdown-item" href="{{item.url}}" [target]="item.name === 'WhatsApp Support' "  *ngFor="let item of externalURLs; let i = index;">
                    <i class="bi-{{item.icon}} dropdown-item-icon"></i>
                    <span class="text-truncate" title="{{item.name}}">{{item.name}}</span>
                  </a>
                </div>
              </div>
              <!-- End Other Links -->
            </li>

            <li class="navbar-vertical-footer-list-item">
              <!-- Language -->
              <div class="dropdown dropup">
                <button type="button" class="btn btn-ghost-secondary btn-icon rounded-circle" id="selectLanguageDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
                  <img class="avatar avatar-xss avatar-circle" src="./assets/vendor/flag-icon-css/flags/1x1/ng.svg" alt="Nigeria Flag">
                </button>

                <div class="dropdown-menu navbar-dropdown-menu-borderless" aria-labelledby="selectLanguageDropdown">
                  <span class="dropdown-header">Select language</span>
                  <a class="dropdown-item" href="javascript:;">
                    <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/ng.svg" alt="Flag">
                    <span class="text-truncate" title="English">English</span>
                  </a>
                  <a class="dropdown-item" href="javascript:;">
                    <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/fr.svg" alt="Flag">
                    <span class="text-truncate" title="English">French</span>
                  </a>
                  <a class="dropdown-item" href="javascript:;">
                    <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/es.svg" alt="Flag">
                    <span class="text-truncate" title="Deutsch">Spanish</span>
                  </a>

                </div>
              </div>

              <!-- End Language -->
            </li>
          </ul>
        </div>
        <!-- End Footer -->
      </div>
    </div>
</aside>
</ng-container>

<ng-template #other_content>

</ng-template>