<!-- Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center mb-3">
        <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item"><a class="breadcrumb-link"
                        routerLink="/ticket/view">Events</a></li>
                    <li class="breadcrumb-item active" aria-current="page">View Tickets</li>
                </ol>
            </nav>
          <h1 class="page-header-title">View Tickets <span class="badge bg-soft-dark text-dark ms-2">{{allTickets?.length}}</span></h1>

          <div class="mt-2">
            <a class="text-body me-3" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exportProductsModal">
              <i class="bi-download me-1"></i> Export
            </a>
            <a class="text-body" href="javascript:;" data-bs-toggle="modal" data-bs-target="#importProductsModal">
              <i class="bi-upload me-1"></i> Import
            </a>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-auto">
          <a class="btn btn-primary" routerLink="/ticket/create">Add Ticket</a>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <!-- Nav Scroller -->
      <div class="js-nav-scroller hs-nav-scroller-horizontal">
        <span class="hs-nav-scroller-arrow-prev" style="display: none;">
          <a class="hs-nav-scroller-arrow-link" href="javascript:;">
            <i class="bi-chevron-left"></i>
          </a>
        </span>

        <span class="hs-nav-scroller-arrow-next" style="display: none;">
          <a class="hs-nav-scroller-arrow-link" href="javascript:;">
            <i class="bi-chevron-right"></i>
          </a>
        </span>

        <!-- Nav -->
        <ul class="nav nav-tabs page-header-tabs" id="pageHeaderTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:;">All tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" tabindex="-1" aria-disabled="true">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" tabindex="-1" aria-disabled="true">Unactive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="javascript:;" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <!-- End Nav -->
      </div>
      <!-- End Nav Scroller -->
    </div>
    <!-- End Page Header -->

    <div class="row justify-content-end mb-3">
      <div class="col-lg">
        <!-- Datatable Info -->
        <div id="datatableCounterInfo" style="display: none;">
          <div class="d-sm-flex justify-content-lg-end align-items-sm-center">
            <span class="d-block d-sm-inline-block fs-5 me-3 mb-2 mb-sm-0">
              <span id="datatableCounter">0</span>
              Selected
            </span>
            <a class="btn btn-outline-danger btn-sm mb-2 mb-sm-0 me-2" href="javascript:;">
              <i class="bi-trash"></i> Delete
            </a>
            <a class="btn btn-white btn-sm mb-2 mb-sm-0 me-2" href="javascript:;">
              <i class="bi-archive"></i> Archive
            </a>
            <a class="btn btn-white btn-sm mb-2 mb-sm-0 me-2" href="javascript:;">
              <i class="bi-upload"></i> Publish
            </a>
            <a class="btn btn-white btn-sm mb-2 mb-sm-0" href="javascript:;">
              <i class="bi-x-lg"></i> Unpublish
            </a>
          </div>
        </div>
        <!-- End Datatable Info -->
      </div>
    </div>
    <!-- End Row -->

    <!-- Card -->
    <div class="card">
      <!-- Header -->
      <div class="card-header card-header-content-md-between">
        <div class="mb-2 mb-md-0">
          <form>
            <!-- Search -->
            <div class="input-group input-group-merge input-group-flush">
              <div class="input-group-prepend input-group-text">
                <i class="bi-search"></i>
              </div>
              <input id="datatableSearch" type="search" class="form-control" (input)="filter($event, 1, 'datatable')" placeholder="Search ticket" aria-label="Search users">
            </div>
            <!-- End Search -->
          </form>
        </div>

        <div class="d-grid d-sm-flex gap-2">
          <button class="btn btn-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEcommerceProductFilter" aria-controls="offcanvasEcommerceProductFilter">
            <i class="bi-filter me-1"></i> Filters
          </button>

          <!-- Dropdown -->
      <div class="dropdown">
        <button type="button" class="btn btn-white btn-sm dropdown-toggle w-100" id="ticketExportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi-download me-2"></i> Export
        </button>

        <div class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="ticketExportDropdown">
          <span class="dropdown-header">Options</span>
          <a id="export-copy" class="dropdown-item" href="javascript:;" type="button" (click)="download('copy')">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/illustrations/copy-icon.svg" alt="Image Description">
            Copy
          </a>
          <a id="export-print" class="dropdown-item" href="javascript:;" type="button" (click)="download('print')">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/illustrations/print-icon.svg" alt="Image Description">
            Print
          </a>
          <div class="dropdown-divider"></div>
          <span class="dropdown-header">Download options</span>
          <a id="export-excel" class="dropdown-item" href="javascript:;" type="button" (click)="download('excel')">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/brands/excel-icon.svg" alt="Image Description">
            Excel
          </a>
          <a id="export-csv" class="dropdown-item" href="javascript:;" type="button" (click)="download('csv')">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/components/placeholder-csv-format.svg" alt="Image Description">
            .CSV
          </a>
          <a id="export-pdf" class="dropdown-item" href="javascript:;" type="button" (click)="download('pdf')">
            <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/brands/pdf-icon.svg" alt="Image Description">
            PDF
          </a>
        </div>
      </div>
      <!-- End Dropdown -->

          <!-- Dropdown -->
          <div class="dropdown">
            <button type="button" class="btn btn-white w-100" id="showHideDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <i class="bi-table me-1"></i> Columns <span class="badge bg-soft-dark text-dark rounded-circle ms-1">6</span>
            </button>

            <div class="dropdown-menu dropdown-menu-end dropdown-card" aria-labelledby="showHideDropdown" style="width: 15rem;">
              <div class="card card-sm">
                <div class="card-body">
                  <div class="d-grid gap-3">
                    <!-- Form Switch -->
                    <label class="row form-check form-switch" for="toggleColumn_product">
                      <span class="col-8 col-sm-9 ms-0">
                        <span class="me-2">Product</span>
                      </span>
                      <span class="col-4 col-sm-3 text-end">
                        <input type="checkbox" class="form-check-input" id="toggleColumn_product" checked>
                      </span>
                    </label>
                    <!-- End Form Switch -->

                    <!-- Form Switch -->
                    <label class="row form-check form-switch" for="toggleColumn_type">
                      <span class="col-8 col-sm-9 ms-0">
                        <span class="me-2">Type</span>
                      </span>
                      <span class="col-4 col-sm-3 text-end">
                        <input type="checkbox" class="form-check-input" id="toggleColumn_type" checked>
                      </span>
                    </label>
                    <!-- End Form Switch -->

                    <!-- Form Switch -->
                    <label class="row form-check form-switch" for="toggleColumn_vendor">
                      <span class="col-8 col-sm-9 ms-0">
                        <span class="me-2">Vendor</span>
                      </span>
                      <span class="col-4 col-sm-3 text-end">
                        <input type="checkbox" class="form-check-input" id="toggleColumn_vendor">
                      </span>
                    </label>
                    <!-- End Form Switch -->

                    <!-- Form Switch -->
                    <label class="row form-check form-switch" for="toggleColumn_stocks">
                      <span class="col-8 col-sm-9 ms-0">
                        <span class="me-2">Stocks</span>
                      </span>
                      <span class="col-4 col-sm-3 text-end">
                        <input type="checkbox" class="form-check-input" id="toggleColumn_stocks" checked>
                      </span>
                    </label>
                    <!-- End Form Switch -->

                    <!-- Form Switch -->
                    <label class="row form-check form-switch" for="toggleColumn_sku">
                      <span class="col-8 col-sm-9 ms-0">
                        <span class="me-2">SKU</span>
                      </span>
                      <span class="col-4 col-sm-3 text-end">
                        <input type="checkbox" class="form-check-input" id="toggleColumn_sku" checked>
                      </span>
                    </label>
                    <!-- End Form Switch -->

                    <!-- Form Switch -->
                    <label class="row form-check form-switch" for="toggleColumn_price">
                      <span class="col-8 col-sm-9 ms-0">
                        <span class="me-2">Price</span>
                      </span>
                      <span class="col-4 col-sm-3 text-end">
                        <input type="checkbox" class="form-check-input" id="toggleColumn_price" checked>
                      </span>
                    </label>
                    <!-- End Form Switch -->

                    <!-- Form Switch -->
                    <label class="row form-check form-switch" for="toggleColumn_quantity">
                      <span class="col-8 col-sm-9 ms-0">
                        <span class="me-2">Quantity</span>
                      </span>
                      <span class="col-4 col-sm-3 text-end">
                        <input type="checkbox" class="form-check-input" id="toggleColumn_quantity">
                      </span>
                    </label>
                    <!-- End Form Switch -->

                    <!-- Form Switch -->
                    <label class="row form-check form-switch" for="toggleColumn_variants">
                      <span class="col-8 col-sm-9 ms-0">
                        <span class="me-2">Variants</span>
                      </span>
                      <span class="col-4 col-sm-3 text-end">
                        <input type="checkbox" class="form-check-input" id="toggleColumn_variants" checked>
                      </span>
                    </label>
                    <!-- End Form Switch -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Dropdown -->
        </div>
      </div>
      <!-- End Header -->

      <!-- Table -->
      <div class="table-responsive position-relative">
        <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" id="datatable" class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table" [attr.data-hs-datatables-options]='{
          "columnDefs": [{
             "targets": [0, 1, 2, 3, 5],
             "orderable": false
           }],
          "order": [],
          "info": {
            "totalQty": "#datatableWithPaginationInfoTotalQty"
          },
          "search": "#datatableSearch",
          "entries": "#datatableEntries",
          "pageLength": 6,
          "isResponsive": false,
          "isShowPaging": false,
          "pagination": "datatablePagination"
        }'>
          <thead class="thead-light">
            <tr>
              <th scope="col" class="table-column-pe-0">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                  <label class="form-check-label">
                  </label>
                </div>
              </th>
              <th *ngFor="let head of header; let i = index;" [ngClass]="head === 'Image' ? 'table-column-ps-0' : '' ">{{head}}</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let t of allTickets; let i = index;">
              <td class="table-column-pe-0">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll1">
                  <label class="form-check-label" for="datatableCheckAll1"></label>
                </div>
              </td>
              <td class="table-column-ps-0">
                <a class="d-flex align-items-center" [routerLink]="['/ticket', t?.sn, 'update']">
                  <div class="flex-shrink-0">
                    <img class="avatar avatar-lg" src="{{path + t?.image1}}" alt="{{t?.image1}}">
                  </div>
                  <!-- <div class="flex-grow-1 ms-3">
                    <h5 class="text-inherit mb-0">{{t?.title}}</h5>
                  </div> -->
                </a>
              </td>
              <td>
                <a [routerLink]="['/ticket', t?.sn, 'update']">
                    <h5 class="text-inherit mb-0">{{t?.title}}</h5>
                </a>
            </td>
              <td>{{t?.submerchantId}}</td>              
              <td>{{t?.from_date}}</td>
              <td>{{t?.qtySold}}</td>
              <td>{{t?.status}}</td>              
              <td>
                <div class="btn-group" role="group">
                  <a class="btn btn-white btn-sm" [routerLink]="['/ticket', t?.sn, 'details']">
                    <i class="bi-eye me-1"></i> View
                  </a>

                  <!-- Button Group -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-white btn-icon btn-sm dropdown-toggle dropdown-toggle-empty" id="productsEditDropdown{{t?.id}}" data-bs-toggle="dropdown" aria-expanded="false"></button>

                    <div class="dropdown-menu dropdown-menu-end mt-1">
                      <a class="dropdown-item" [routerLink]="['/ticket', t?.sn, 'update']">
                        <i class="bi-pencil-fill dropdown-item-icon me-1"></i> Edit
                      </a>
                      <a class="dropdown-item" href="javascript:;">
                        <i class="bi-trash dropdown-item-icon text-danger"></i> 
                        <span class="text-danger">Delete</span>
                      </a>
                      <!-- <a class="dropdown-item" href="javascript:;">
                        <i class="bi-upload dropdown-item-icon"></i> Publish
                      </a>
                      <a class="dropdown-item" href="javascript:;">
                        <i class="bi-x-lg dropdown-item-icon"></i> Unpublish
                      </a> -->
                    </div>
                  </div>
                  <!-- End Button Group -->
                </div>
              </td>
            </tr>

            
          </tbody>
        </table>
      </div>
      <!-- End Table -->

    </div>
    <!-- End Card -->
  </div>
  <!-- End Content -->