    <!-- Content -->
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h1 class="page-header-title">Dashboard</h1>
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <a class="btn btn-primary" [routerLink]="['/customers']" data-bs-toggle="modal" data-bs-target="#inviteUserModal">
              <i class="bi-person-plus-fill me-1"></i> View All Users
            </a>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Page Header -->

      <!-- Stats -->
      <div class="row">
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
          <!-- Card -->
          <a class="card card-hover-shadow h-100" href="javascript:;">
            <div class="card-body">
              <h6 class="card-subtitle">Total Savings</h6>

              <div class="row align-items-center gx-2 mb-1">
                <div class="col-12">
                  <h2 class="card-title text-inherit">{{savingsSum | currency :'₦'}}</h2>
                </div>
                <!-- End Col -->

               
              </div>
              <!-- End Row -->

              <span class="badge bg-soft-success text-success">
                <i class="bi-graph-up"></i> 12.5%
              </span>
              <span class="text-body fs-6 ms-1" *ngIf="savingsRecords != undefined">from {{savingsRecords.length}}</span>
            </div>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
          <!-- Card -->
          <a class="card card-hover-shadow h-100" href="javascript:;">
            <div class="card-body">
              <h6 class="card-subtitle">Total Withdrawal</h6>

              <div class="row align-items-center gx-2 mb-1">
                <div class="col-12">
                  <h2 class="card-title text-inherit">{{withdrawalSum| currency :'₦'}}</h2>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->

              <span class="badge bg-soft-success text-success">
                <i class="bi-graph-up"></i> 1.7%
              </span>
              <span class="text-body fs-6 ms-1" *ngIf="withdrawalRecords != undefined">from {{withdrawalRecords.length}}</span>
            </div>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
          <!-- Card -->
          <a class="card card-hover-shadow h-100" href="javascript:;">
            <div class="card-body">
              <h6 class="card-subtitle">Total Commissions</h6>

              <div class="row align-items-center gx-2 mb-1">
                <div class="col-12">
                  <h2 class="card-title text-inherit">{{commissionSum | currency :'₦'}}</h2>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->

              <span class="badge bg-soft-danger text-danger">
                <i class="bi-graph-down"></i> 4.4%
              </span>
              <span class="text-body fs-6 ms-1" *ngIf="commissionRecords != undefined">from {{commissionRecords.length}}</span>
            </div>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
          <!-- Card -->
          <a class="card card-hover-shadow h-100" href="javascript:;">
            <div class="card-body">
              <h6 class="card-subtitle">Total Balance</h6>

              <div class="row align-items-center gx-2 mb-1">
                <div class="col-12">
                  <h2 class="card-title text-inherit">{{totalBalance | currency :'₦'}}</h2>
                </div>
                <!-- End Col -->

                
              </div>
              <!-- End Row -->

              <span class="badge bg-soft-secondary text-body">0.0%</span>
              <span class="text-body fs-6 ms-1" *ngIf="savingsRecords != undefined">from {{savingsRecords.length - savingsRecords.length}}</span>
            </div>
          </a>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Stats -->

      

      <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-5">
          <!-- Card -->
          <div class="card h-100">
            <!-- Header -->
            <div class="card-header card-header-content-sm-between">
              <h4 class="card-header-title mb-2 mb-sm-0">Transactions</h4>

              <!-- Daterangepicker -->
              <div class="btn-group">
              <button id="js-daterangepicker-predefined" class="btn btn-ghost-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-calendar-week"></i>
                <span class="js-daterangepicker-predefined-preview ms-1" >{{ranges.TodayWithFormat[0] +' - '+ ranges.TodayWithFormat[1] }}</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" type="button" *ngFor="let item of dateRanges" (click)="filterDataByDate(item.date[0], item.date[1], item.timeline)">{{item?.timeline}}</a>
              </div>
              <!-- End Daterangepicker -->
            </div>

            <!-- Dropdown -->
            <div class="dropdown">
              <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="reportsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-three-dots-vertical"></i>
              </button>

              <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="reportsDropdown">
                <span class="dropdown-header">Settings</span>

                <a class="dropdown-item" href="javascript:;" type="button" [attr.disabled]="true">
                  <i class="bi-share-fill dropdown-item-icon"></i> Share reports
                </a>
                <a class="dropdown-item" href="javascript:;" type="button" (click)="downloadGraph(0)">
                  <i class="bi-download dropdown-item-icon"></i> Download
                </a>

                <div class="dropdown-divider"></div>

                <span class="dropdown-header">Feedback</span>

                <a class="dropdown-item" href="javascript:;" type="button" [attr.disabled]="true">
                  <i class="bi-chat-left-dots dropdown-item-icon"></i> Report
                </a>
              </div>
            </div>
            <!-- End Dropdown -->

            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body">
              <!-- Chart -->
              <div class="chartjs-custom chart-wrapper mx-auto">                              
                <canvas baseChart
                [data]="pieChartData"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend" 
                [type]="pieChartType">
                </canvas>
              </div>
              <!-- End Chart -->
            </div>
            <!-- End Body -->   
          </div>
          <!-- End Card -->
        </div>

        <div class="col-lg-6 mb-3 mb-lg-5">
          <!-- Card -->
          <div class="card h-100">
            <!-- Header -->
            <div class="card-header card-header-content-between">
              <h4 class="card-header-title">Overall Top {{maxCount}} Savers</h4>

              <!-- Dropdown -->
              <div class="dropdown">
                <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="reportsDropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi-three-dots-vertical"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="reportsDropdown1">
                  <span class="dropdown-header">Settings</span>

                  <a class="dropdown-item" href="javascript:;" type="button" [attr.disabled]="true">
                    <i class="bi-share-fill dropdown-item-icon"></i> Share reports
                  </a>
                  <a class="dropdown-item" href="javascript:;" type="button" [attr.disabled]="true" (click)="downloadGraph(0)">
                    <i class="bi-download dropdown-item-icon"></i> Download
                  </a>

                  <div class="dropdown-divider"></div>

                  <span class="dropdown-header">Feedback</span>

                  <a class="dropdown-item" href="javascript:;" type="button" [attr.disabled]="true">
                    <i class="bi-chat-left-dots dropdown-item-icon"></i> Report
                  </a>
                </div>
              </div>
              <!-- End Dropdown -->
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body">
              <!-- <span class="h1 d-block mb-4">$7,431.14 USD</span> -->

              <!-- Table -->
              <div class="table-responsive">
                <table class="table table-lg table-nowrap card-table mb-0">
                  <tbody>
                  <tr *ngFor="let item of bestSavers | slice:0:maxCount; let i = index;">
                    <th scope="row">
                      <span class="legend-indicator bg-primary"></span>{{item?.firstName.concat(' ').concat(item?.lastName) | titlecase}}
                    </th>
                    <td>{{item?.transAmount | currency: '₦'}}</td>
                    <td>
                      <span class="badge bg-soft-success text-success">+{{item?.percent | number: '1.0-1'}}%</span>
                    </td>
                  </tr>
                </tbody>
                </table>
              </div>
              <!-- End Table -->
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->
        </div>
      </div>


      <div class="row">
        <div class="col-lg-4 mb-3 mb-lg-5">
          <!-- Card -->
          <div class="card h-100">
            <!-- Header -->
            <div class="card-header card-header-content-between">
              <h4 class="card-header-title">Payments</h4>

              <!-- Dropdown -->
              <div class="dropdown">
                <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="reportsDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi-three-dots-vertical"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="reportsDropdown2">
                  <span class="dropdown-header">Settings</span>

                  <a class="dropdown-item" href="javascript:;" type="button" [attr.disabled]="true">
                    <i class="bi-share-fill dropdown-item-icon"></i> Share reports
                  </a>
                  <a class="dropdown-item" href="javascript:;" type="button" (click)="downloadGraph(1)">
                    <i class="bi-download dropdown-item-icon"></i> Download
                  </a>

                  <div class="dropdown-divider"></div>

                  <span class="dropdown-header">Feedback</span>

                  <a class="dropdown-item" href="javascript:;" type="button" [attr.disabled]="true">
                    <i class="bi-chat-left-dots dropdown-item-icon"></i> Report
                  </a>
                </div>
              </div>
              <!-- End Dropdown -->
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body ">

              <div class="d-flex justify-content-between align-items-center">
                <!-- Badge -->
              <div class="h3">
                <span class="badge bg-soft-info text-info rounded-pill">
                  <i class="bi-check-circle-fill me-1"></i> On track
                </span>
              </div>
              <!-- End Badge -->

              <!-- Checkbox Switch -->
              <div class="form-check form-switch form-switch-between" title="switch to see Bank Account">
                <input id="updatingBarChartControl" class="form-check-input" type="checkbox" (change)="switch = !switch;">
              </div>
              <!-- End Checkbox Switch -->

              </div>

              <div class="text-center">             
              <!-- Chart Half -->
              <div class="chartjs-doughnut-custom" style="height: 15rem;">
                <canvas 
                 id="doughnutHalfChart"
                 class="js-chartjs-doughnut-half"
                 baseChart
                [data]="doughnutHalfChartData"
                [options]="doughnutHalfChartOptions"
                [type]="doughnutHalfChartType">
              </canvas>

                <div class="chartjs-doughnut-custom-stat" style="top: 12rem;">
                  <small class="text-cap">{{!switch ? 'Account balance' : 'Bank balance' }}</small>
                  <span class="h1">{{(!switch ? totalBalance : totalBalance + commissionSum) | currency :'₦'}}</span>
                </div>
              </div>
              <!-- End Chart Half -->

              <hr>

              <div class="row col-divider">
                <div class="col text-end">
                  <span class="d-block h4 mb-0">{{yesterdaytrnxSum| currency :'₦'}}</span>
                  <span class="d-block small">Yesterday balance</span>
                </div>

                <div class="col text-start">
                  <span class="d-block h4 text-success mb-0">
                    <i class="bi-graph-up"></i> {{(yesterdaytrnxSum / totalBalance * 100 | number:'1.0-1') + '%' }}
                  </span>
                  <span class="d-block small">Percentage difference</span>
                </div>
              </div>
              <!-- End Row -->
            </div>
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->
        </div>

        <div class="col-lg-8 mb-3 mb-lg-5">
          <!-- Card -->
          <div class="card h-100">
            <!-- Header -->
            <div class="card-header card-header-content-between">
              <h4 class="card-header-title">Latest transactions</h4>

              <!-- Dropdown -->
              <div class="dropdown">
                <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="reportsOverviewDropdown3" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi-three-dots-vertical"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="reportsOverviewDropdown3">
                  <span class="dropdown-header">Settings</span>

                  <a class="dropdown-item" href="javascript:;">
                    <i class="bi-share-fill dropdown-item-icon"></i> Share reports
                  </a>
                  <a class="dropdown-item" type="button">
                    <i class="bi-download dropdown-item-icon"></i> Download
                  </a>

                  <div class="dropdown-divider"></div>

                  <span class="dropdown-header">Feedback</span>

                  <a class="dropdown-item" href="javascript:;">
                    <i class="bi-chat-left-dots dropdown-item-icon"></i> Report
                  </a>
                </div>
              </div>
              <!-- End Dropdown -->
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body card-body-height">
              <ul class="list-group list-group-flush list-group-no-gutters">
                <!-- List Item -->
                <li class="list-group-item" *ngFor="let record of allRecords  | slice:0:6; let i = index; ">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <!-- Avatar -->
                      <div class="avatar avatar-sm avatar-soft-dark avatar-circle">
                        <span class="avatar-initials">{{record?.firstName | titlecase | slice:0:1}}{{(record?.lastName | titlecase | slice:0:1) }}</span>
                      </div>
                      <!-- End Avatar -->
                    </div>

                    <div class="flex-grow-1 ms-3">
                      <div class="row">
                        <div class="col-7 col-md-5 order-md-1">
                          <h5 class="mb-0">{{record?.firstName.concat(' ').concat(record?.lastName) | titlecase}}</h5>
                          <span class="fs-6 text-body">{{(record?.transType | i18nSelect: trnxMap) + ' to '+ record?.accountType}} </span>
                        </div>

                        <div class="col-5 col-md-4 order-md-3 text-end mt-2 mt-md-0">
                          <h5 [ngClass]="'mb-0 ' + (record?.transType === 'Savings' ? 'text-success' : record?.transType === 'commission' ?  +'text-warning' : 'text-danger') ">
                            {{record?.transType === 'Withdrawal' ?  '-'+ (record?.transAmount | currency:'₦') : record?.transAmount | currency:'₦' }} NGN</h5>
                          <span class="fs-6 text-body">{{record?.transDate | date: 'd MMMM, y.'}}</span>
                        </div>

                        <div class="col-auto col-md-3 order-md-2">
                          <span [ngClass]=" 'badge bg-soft-success text-success rounded-pill' ">Success</span>
                        </div>
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                </li>
                <!-- End List Item -->

              </ul>
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Row -->

      <div class="row">
        <div class="col-lg-5 mb-3 mb-lg-5">
          <!-- Card -->
          <div class="card h-100">
            <!-- Header -->
            <div class="card-header card-header-content-between">
              <h4 class="card-header-title">Average Trans.</h4>

              <!-- Daterangepicker -->
              <div class="btn-group">
                <button id="js-daterangepicker" class="btn btn-ghost-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi-calendar-week"></i>
                  <span class="js-daterangepicker-preview ms-1" >{{ranges2.TodayWithFormat[0] +' - '+ ranges2.TodayWithFormat[1] }}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" type="button" *ngFor="let item of last12Months" (click)="filterDataByMonth(item, 'All')">{{item}}</a>
                </div>
                <!-- End Daterangepicker -->
              </div>
            </div>
            <!-- End Header -->

            <!-- Body -->
        <div class="card-body">
          <div class="row col-sm-divider">
            <div class="col-sm-6">
              <!-- Stats -->
              <div class="d-lg-flex align-items-lg-center">
                <div class="flex-shrink-0">
                  <i class="bi-credit-card fs-1"></i>
                </div>

                <div class="flex-grow-1 ms-lg-3">
                  <span class="d-block fs-6">Average Savings</span>
                  <div class="d-flex align-items-center">
                    <h3 class="mb-0">{{avgSavings | currency :'₦'}}</h3>
                    <!-- <span class="badge bg-soft-success text-success ms-2">
                      <i class="bi-graph-up"></i> 12.5%
                    </span> -->
                  </div>
                </div>
              </div>
              <!-- End Stats -->
            </div>

            <div class="col-sm-6">
              <!-- Stats -->
              <div class="d-lg-flex align-items-lg-center">
                <div class="flex-shrink-0">
                  <i class="bi-cash fs-1"></i>
                </div>

                <div class="flex-grow-1 ms-lg-3">
                  <span class="d-block fs-6">Average Withdrawals</span>
                  <div class="d-flex align-items-center">
                    <h3 class="mb-0">{{avgWithdrawals| currency :'₦'}}</h3>
                  </div>
                </div>
              </div>
              <!-- End Stats -->
            </div>

            
          </div>
          <!-- End Row -->
        </div>
        <!-- End Body -->

        <hr class="my-0">

        <!-- Header -->
        <div class="card-header card-header-content-between">
          <h4 class="card-header-title">Third Party Applications</h4>
        </div>
        <!-- End Header -->

            <!-- Body -->
            <div class="card-body">
              <p>Launch our third party applications from here</p>

              <ul class="list-group list-group-flush list-group-no-gutters">
                <!-- <li class="list-group-item">
                  <h5 class="card-title">Import users from:</h5>
                </li> -->

                <!-- List Group Item -->
                <li class="list-group-item" *ngFor="let item of thirdPartyApps">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img class="avatar avatar-xs avatar-4x3" src="./assets/svg/brand/{{item.src}}" alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <div class="row align-items-center">
                        <div class="col">
                          <h5 class="mb-0">{{item.name}}</h5>
                          <span class="d-block fs-6 text-body">{{item.service}}</span>
                        </div>
                        <!-- End Col -->

                        <div class="col-auto">
                          <a class="btn btn-primary btn-sm" href="{{item.url}}" title="Go to website" target="_blank">
                            Launch <span class="d-none d-sm-inline-block"></span>
                            <i class="bi-box-arrow-up-right ms-1"></i>
                          </a>
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                </li>
                <!-- End List Group Item -->                

                <!-- <li class="list-group-item"><span class="small text-muted">Or you can <a class="link" href="javascript:;">sync data to Dashboard</a> to ensure data is always up-to-date.</span></li> -->
              </ul>
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-lg-7 mb-3 mb-lg-5">
          <!-- Card -->
          <div class="card h-100">
            <!-- Header -->
            <div class="card-header card-header-content-sm-between">
              <h4 class="card-header-title mb-2 mb-sm-0">Last {{dayDiff}} days Transaction values</h4>

              <!-- Nav -->
              <ul class="nav nav-segment nav-fill" id="expensesTab" role="tablist">
                <li class="nav-item" data-bs-toggle="chart-bar" data-datasets="thisWeek" data-trigger="click" data-action="toggle">
                  <a class="nav-link active" href="javascript:;" data-bs-toggle="tab" type="button" (click)="switchGraph(0, 'bar')"> Bar Chart</a>
                </li>
                <li class="nav-item" data-bs-toggle="chart-bar" data-datasets="lastWeek" data-trigger="click" data-action="toggle">
                  <a class="nav-link" href="javascript:;" data-bs-toggle="tab" type="button" (click)="switchGraph(0, 'line')">Line Chart</a>
                </li>
              </ul>
              <!-- End Nav -->

              <!-- Dropdown -->
              <div class="dropdown">
                <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="reportsOverviewDropdown2"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi-three-dots-vertical"></i>
                </button>
              
                <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="reportsOverviewDropdown2">
                  <span class="dropdown-header">Settings</span>
              
                  <a class="dropdown-item" href="javascript:;" type="button" disabled="true">
                    <i class="bi-share-fill dropdown-item-icon"></i> Share chart
                  </a>
                  <a class="dropdown-item" href="javascript:;" type="button" (click)="downloadGraph(2)">
                    <i class="bi-download dropdown-item-icon"></i> Download
                  </a>
                </div>
              </div>
              <!-- End Dropdown -->


            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-sm mb-2 mb-sm-0">
                  <div class="d-flex align-items-center">
                    <span class="h1 text-success mb-0" title="Savings Collected during this period">{{savingsGraphSum > 0 ? (savingsGraphSum | shortNumber) : 0}}</span>
                    <span class="h1 ms-2 mb-0">|</span>
                    <span class="h1 text-danger me-2 ms-2 mb-0" title="Withdrawals completed during this period">{{withdrawalGraphSum > 0 ? (withdrawalGraphSum | shortNumber) : 0}}</span>
                  </div>
                </div>
                <!-- End Col -->

                <div class="col-sm-auto align-self-sm-end">
                  <div class="row fs-6 text-body">
                    <div class="col-auto">
                      <span class="legend-indicator bg-primary"></span> Savings
                    </div>
                    <!-- End Col -->

                    <div class="col-auto">
                      <span class="legend-indicator"></span> Withdrawal
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->

              <!-- Bar Chart -->
              <div class="chartjs-custom">
                <canvas id="updatingBarChart" style="height: 20rem;"
                baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="barChartType"
                ></canvas>
              </div>
              <!-- End Bar Chart -->
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->


      <!-- Card -->
      <div class="card mb-3 mb-lg-5">
        <!-- Header -->
        <div class="card-header" *ngIf="thisMonthCustomer != undefined">
          <div class="row justify-content-between align-items-center flex-grow-1">
            <div class="col-md">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-header-title">This Month Customers</h4>

                <!-- Datatable Info -->
                <div id="datatableCounterInfo" style="display: none;">
                  <div class="d-flex align-items-center">
                    <span class="fs-6 me-3">
                      <span id="datatableCounter">0</span>
                      Selected
                    </span>
                    <a class="btn btn-outline-danger btn-sm" href="javascript:;">
                      <i class="tio-delete-outlined"></i> Delete
                    </a>
                  </div>
                </div>
                <!-- End Datatable Info -->
              </div>
            </div>
            <!-- End Col -->

            <div class="col-auto">
              <!-- Filter -->
              <div class="row align-items-sm-center">
                <div class="col-sm-auto">
                  <div class="row align-items-center gx-0">
                    <div class="col">
                      <span class="text-secondary me-2">Status:</span>
                    </div>
                    <!-- End Col -->

                    <div class="col-auto">
                      <!-- Select -->
                      <div class="tom-select-custom tom-select-custom-end">
                        <select class="js-select js-datatable-filter form-select form-select-sm form-select-borderless" data-target-column-index="5" data-target-table="datatable" autocomplete="off" data-hs-tom-select-options='{
                                  "searchInDropdown": false,
                                  "hideSearch": true,
                                  "dropdownWidth": "10rem"
                                }'>
                          <option value="null" selected>All</option>
                          <option value="Active">Active</option>
                          <option value="Inactive">Inactive</option>
                        </select>
                      </div>
                      <!-- End Select -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>
                <!-- End Col -->

                <div class="col-sm-auto">
                  <div class="row align-items-center gx-0">
                    <div class="col">
                      <span class="text-secondary me-2">Signed up:</span>
                    </div>
                    <!-- End Col -->

                    <div class="col-auto">
                      <!-- Select -->
                      <div class="tom-select-custom tom-select-custom-end">
                        <select class="js-select js-datatable-filter form-select form-select-sm form-select-borderless" data-target-column-index="6" data-target-table="datatable" autocomplete="off" data-hs-tom-select-options='{
                                  "searchInDropdown": false,
                                  "hideSearch": true,
                                  "dropdownWidth": "10rem"
                                }'>
                          <option value="null" selected>All</option>
                          <!-- <option value="1 year ago">1 year ago</option>
                          <option value="6 months ago">6 months ago</option>
                          <option value="3 months ago">3 months ago</option> -->
                          <option value="1 month ago">1 month ago</option>
                          <option value="3 weeks ago">3 weeks ago</option>
                          <option value="2 weeks ago">2 weeks ago</option>
                          <option value="1 week ago">1 week ago</option>
                          <option value="1 day ago">1 day ago</option>
                        </select>
                      </div>
                      <!-- End Select -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>
                <!-- End Col -->

                <div class="col-md"  >
                  <form>
                    <!-- Search -->
                    <div class="input-group input-group-merge input-group-flush">
                      <div class="input-group-prepend input-group-text">
                        <i class="bi-search"></i>
                      </div>
                      <input id="datatableSearch" type="search" class="form-control" placeholder="Search customers" (input)="rerender($event)" aria-label="Search users">
                    </div>
                    <!-- End Search -->
                  </form>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Filter -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Header -->

        <!-- Table -->
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="table-column-pe-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                    <label class="form-check-label" for="datatableCheckAll"></label>
                  </div>
                </th>
                <th class="table-column-ps-0">Full name</th>
                <th>Email</th>
                <th>Phone No</th>                
                <th>Active Plans</th>
                <th>Signed Up</th>   
                <th>Registered By</th>             
              </tr>
            </thead>

            <tbody *ngIf="thisMonthCustomer != undefined">
              <tr *ngFor="let data of thisMonthCustomer.slice().reverse(); let i = index;">
                <td class="table-column-pe-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="usersDataCheck{{data.sn}}">
                    <label class="form-check-label" for="usersDataCheck{{data.sn}}"></label>
                  </div>
                </td>
                <td class="table-column-ps-0">
                  <a class="d-flex align-items-center" href="">
                    <div class="flex-shrink-0">
                      <div class="avatar avatar-sm avatar-circle">
                        <img class="avatar-img" src="{{imagePath+data?.image}}" onerror="this.src='../../../assets/img/160x160/img1.jpg'" alt="{{data?.firstName}}">
                      </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h5 class="text-inherit mb-0">{{data?.firstName.concat(' ').concat(data?.lastName) | titlecase}}</h5>
                    </div>
                  </a>
                </td>
                <td>{{data?.email}}</td>
                <td>{{data?.userId}}</td>                
                <td>{{data?.allPlans }}</td>
                <!-- <td>
                  <span class="legend-indicator bg-success"></span>Active
                </td> -->
                <td>{{data?.date_registered | dateAgo}}</td>
                <td>{{data?.agent_firstname | titlecase}}</td>
                
              </tr>

            </tbody>
          </table>
        </div>
        <!-- End Table -->

        <!-- Footer -->
        
        <!-- End Footer -->
      </div>
      <!-- End Card -->

      
    </div>
    <!-- End Content -->

<app-edit-customer></app-edit-customer>