<!-- Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col-sm mb-2 mb-sm-0">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-no-gutter">
                  <li class="breadcrumb-item"><a class="breadcrumb-link"
                      routerLink="/ticket/view">Events</a></li>
                  <li class="breadcrumb-item active" aria-current="page">View Ticket</li>
              </ol>
          </nav>
        <h1 class="page-header-title" *ngIf="allRecords != undefined">{{data?.title}} 
          <!-- <span class="badge bg-soft-dark text-dark ms-2">{{allRecords.length}}</span> -->
        </h1>
      </div>
        <!-- End Col -->

        <div class="col-sm-6 col-md-5 col-lg-4">
          <small class="text-cap">Event URL:</small>

          <!-- Input Group -->
          <div class="input-group">
            <input id="referralCode" type="text" class="form-control" #inputTarget readonly value="https://moloyal.com/test/motickets/ticket.php?e={{ticketId}}">
            <div class="input-group-append">
              <a class="js-clipboard btn btn-white" type="button" [ngxClipboard]="inputTarget" 
              (cbOnSuccess)="isCopied = true"
              (cbOnError)="onCopyFailure()" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy to clipboard" >
                <i id="referralCodeIcon" class="bi-clipboard"></i>
              </a>
            </div>
          </div>
          <!-- End Input Group -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Page Header -->

    <!-- Stats -->
    <div class="row col-lg-divider">
      <div class="col-lg-4">
        <!-- Card -->
        <div class="text-center">
          <img class="avatar avatar-xl avatar-4x3 mb-4" src="./assets/svg/illustrations/oc-megaphone.svg" alt="Image Description" data-hs-theme-appearance="default" style="min-height: 6rem;">
          <!-- <img class="avatar avatar-xl avatar-4x3 mb-4" src="./assets/svg/illustrations-light/oc-megaphone.svg" alt="Image Description" data-hs-theme-appearance="dark" style="min-height: 6rem;"> -->
          <span class="text-cap text-body">Number of ticket sold</span>
          <span class="d-block display-4 text-dark mb-2" *ngIf="allRecords != undefined">{{allRecords.length}}</span>

          <div class="row col-divider text-dark">
            <div [class]=" 'col text-' + (i+''| i18nSelect:colMap)" *ngFor="let c of bestCategories; let i = index;">
              <span class="d-block fw-semi-bold text-success">
                 <span class="text-dark">{{c.length}}</span> &nbsp; <i class="bi-graph-up"></i>{{c?.percentNumber | number: '1.0-1'}}%
              </span>
              <span class="d-block">{{c.ticket_class}}</span>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card -->
      </div>

      <div class="col-lg-4">
        <!-- Card -->
        <div class="text-center">
          <img class="avatar avatar-xl avatar-4x3 mb-4" src="./assets/svg/illustrations/oc-money-profits.svg" alt="Image Description" data-hs-theme-appearance="default" style="min-height: 6rem;">
          <!-- <img class="avatar avatar-xl avatar-4x3 mb-4" src="./assets/svg/illustrations-light/oc-money-profits.svg" alt="Image Description" data-hs-theme-appearance="dark" style="min-height: 6rem;"> -->
          <span class="text-cap text-body">Total Amount Sold</span>
          <span class="d-block display-4 text-dark mb-2">{{ticketSum | currency: '₦'}}</span>

          <div class="row col-divider text-dark">
            <div [class]=" 'col text-' + (i+''| i18nSelect:colMap)" *ngFor="let c of bestCategories; let i = index;">
              <span class="d-block fw-semi-bold text-success">
                <span class="text-dark">{{c.amount | currency: '₦'}}</span>
                <!-- &nbsp; <i class="bi-graph-up"></i>{{c?.percentAmount | number: '1.0-1'}}% -->
              </span>
              <span class="d-block">{{c.ticket_class}}</span>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card -->
      </div>

      <div class="col-lg-4">
        <!-- Card -->
        <div class="text-center">
          <img class="avatar avatar-xl avatar-4x3 mb-4" src="./assets/svg/illustrations/oc-growing.svg" alt="Image Description" data-hs-theme-appearance="default" style="min-height: 6rem;">
          <!-- <img class="avatar avatar-xl avatar-4x3 mb-4" src="./assets/svg/illustrations-light/oc-growing.svg" alt="Image Description" data-hs-theme-appearance="dark" style="min-height: 6rem;"> -->
          <span class="text-cap text-body">Used Ticket</span>
          <span class="d-block display-4 text-dark mb-2">{{this.usedTicket}}</span>

          <div class="row col-divider text-dark">
            <div [class]=" 'col text-' + (i+''| i18nSelect:colMap)" *ngFor="let c of bestCategories; let i = index;">
              <span class="d-block fw-semi-bold text-danger">{{c.used}}</span>
              <span class="d-block">{{c.ticket_class}}</span>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Stats -->

    <div class="my-5">
      <p class="text-muted"><i class="bi-exclamation-octagon"></i> Last refreshed: {{time | date:'medium'}}</p>
    </div>

    <div class="row">
      <div class="col-lg-8 mb-3 mb-lg-5">
        <!-- Card -->
        <div class="card h-100">
          <!-- Header -->
          <div class="card-header card-header-content-sm-between">
            <h4 class="card-header-title mb-2 mb-sm-0">Total sales earnings</h4>

            <!-- Daterangepicker -->
            <!-- <button id="js-daterangepicker-predefined" class="btn btn-ghost-secondary btn-sm dropdown-toggle">
              <i class="tio-date-range"></i>
              <span class="js-daterangepicker-predefined-preview ms-1"></span>
            </button> -->
            <!-- End Daterangepicker -->
          </div>
          <!-- End Header -->

          <!-- Body -->
          <div class="card-body">
            <!-- Bar Chart -->
            <div class="chartjs-custom">
              <canvas baseChart id="eventTicket" class="js-chart" style="height: 15rem;" 
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="barChartType"></canvas>
            </div>
            <!-- End Bar Chart -->
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>

      <div class="col-lg-4 mb-3 mb-lg-5">
        <!-- Card -->
        <div class="card h-100">
          <!-- Header -->
          <div class="card-header card-header-content-between">
            <h4 class="card-header-title">Top 5 Customers <i class="bi-patch-check-fill text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="This report is based on 100% of sessions."></i></h4>
            <!-- <a class="btn btn-ghost-secondary btn-sm" href="javascript:;">View all</a> -->
          </div>
          <!-- End Header -->

          <!-- Body -->
          <div class="card-body">
            <div class="list-group list-group-flush list-group-no-gutters">
              <!-- Item -->
              <ng-container *ngIf="bestCustomers != undefined && bestCustomers.length > 0; else elseTemplate">
              <div class="list-group-item" *ngFor="let b of bestCustomers | slice:0:5;">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 ms-2">
                    <div class="row align-items-center">
                      <div class="col">
                        <span class="d-block">{{b?.fname.concat(' ').concat(b?.lname) | titlecase}}</span>
                      </div>
                      <!-- End Col -->
                      <div class="col-auto">
                        <span class="badge bg-soft-success text-success mb-0">{{b?.percent | number: '1.0-1'}}%</span>
                      </div>

                      <div class="col-auto">
                        <h5>{{b.amount | currency: '₦'}}</h5>
                      </div>
                      <!-- End Col -->
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
              </div>
              <!-- End Item -->
            </ng-container>
            <ng-template #elseTemplate>
              <div class="text-center p-4">
                <img class="mb-3" src="{{emptyTable}}" alt="Image Description" style="width: 10rem;"
                  data-hs-theme-appearance="default">
                <p class="mb-0">No record found</p>
              </div>
            </ng-template>

              
            </div>
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Row -->

    <!-- Card -->
    <div class="card">
      <!-- Header -->
      <div class="card-header card-header-content-sm-between" *ngIf="allRecords != undefined">
        <!-- <h4 class="card-header-title">Referral users</h4> -->

        <div class="mb-2 mb-md-0">
          <form>
            <!-- Search -->
            <div class="input-group input-group-merge input-group-flush">
              <div class="input-group-prepend input-group-text">
                <i class="bi-search"></i>
              </div>
              <input id="datatableSearch" type="search" class="form-control" (keyup)="filter($event, 'datatable')" placeholder="Search customers" aria-label="Search users">
            </div>
            <!-- End Search -->
          </form>
        </div>

      <div class="d-grid d-sm-flex justify-content-sm-between align-items-sm-center gap-2">
        <!-- Datatable Info -->
        <div id="datatableCounterInfo" style="display: none;">
          <div class="d-flex align-items-center">
            <span class="fs-6 me-3">
              <span id="datatableCounter">0</span>
              Selected
            </span>
            <a class="btn btn-outline-danger btn-sm" href="javascript:;"><i class="bi-trash"></i> Delete</a>
          </div>
        </div>
        <!-- End Datatable Info -->

        <!-- Dropdown -->
        <div class="dropdown">
          <button type="button" class="btn btn-white btn-sm dropdown-toggle w-100" id="usersExportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-download me-2"></i> Export
          </button>

          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="usersExportDropdown">
            <span class="dropdown-header">Select option:</span>
            <a id="export-copy" class="dropdown-item" type="button" (click)="download('copy')">
              <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/illustrations/copy-icon.svg" alt="Image Description">
              Copy
            </a>
            <a id="export-print" class="dropdown-item" type="button" (click)="download('print')">
              <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/illustrations/print-icon.svg" alt="Image Description">
              Print
            </a>
            <div class="dropdown-divider"></div>
            <span class="dropdown-header">Download options</span>
            <a id="export-excel" class="dropdown-item" type="button" (click)="download('excel')">
              <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/brands/excel-icon.svg" alt="Image Description">
              Excel
            </a>
            <a id="export-csv" class="dropdown-item" type="button" (click)="download('csv')">
              <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/components/placeholder-csv-format.svg" alt="Image Description">
              CSV
            </a>
            <a id="export-pdf" class="dropdown-item" type="button" (click)="download('pdf')">
              <img class="avatar avatar-xss avatar-4x3 me-2" src="./assets/svg/brands/pdf-icon.svg" alt="Image Description">
              PDF
            </a>
          </div>
        </div>
        <!-- End Dropdown -->
      </div>
      </div>
      <!-- End Header -->

      <!-- Table -->
      <div class="table-responsive position-relative">
        <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" id="datatable" class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
          <thead class="thead-light">
            <tr>
              <th>Full Name</th>
              <th>Payment Reference</th>
              <th>Category</th>
              <th>Amount</th>
              <th>Used</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of allRecords">
              <td>
                <a class="d-flex align-items-center" href="javascript:;">
                  <div class="flex-grow-1">
                    <span class="d-block h5 text-inherit mb-0">{{item?.fname.concat(' ').concat(item?.lname) | titlecase}}</span>
                    <span class="d-block fs-6 text-body">{{item.email}}</span>
                  </div>
                </a>
              </td>
              <td>{{item.pay_reference}}</td>
              <td>{{item.ticket_class}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.used === "0" ? "False" : "True" }}</td>
              <td>{{item.buy_date_time | date:'medium'}}</td>
              <td>
                <div class="">
                  <button type="button" class="btn btn-white btn-sm" id="apiKeyDropdown1" aria-expanded="false" (click)="open(content, item)">
                    <i class="bi-eye ms-1"></i> View
                  </button>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- End Table -->

      
    </div>
    <!-- End Card -->
  </div>
  <!-- End Content -->


  <ng-template #content let-modal>
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-top-cover bg-dark text-center" id="modal-basic-title">
    <figure class="position-absolute end-0 bottom-0 start-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
        <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z" />
        </svg>
    </figure>

    <div class="modal-close">
        <button type="button" class="btn-close btn-close-light" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    </div>
    <!-- End Header -->

    <div class="modal-top-cover-icon">
    <span class="icon icon-lg icon-light icon-circle icon-centered shadow-sm">
        <img class="avatar" src="{{img}}" alt="Logo">
    </span>
    
    </div>

    <!-- Body -->
    <div class="modal-body">
    <div class="text-center mb-5">
        <h3 class="mb-1">Ticket Receipt</h3>
        <span class="d-block">Reference: {{ modalContent?.pay_reference }}</span>
    </div>

    <div class="row mb-6">
        <div class="col-md-4 mb-3 mb-md-0">
        <small class="text-cap text-secondary mb-0">Ticket Amount:</small>
        <span class="text-dark">{{modalContent?.amount | currency: '₦'}}</span>
        </div>
        <!-- End Col -->

        <div class="col-md-4 mb-3 mb-md-0">
        <small class="text-cap text-secondary mb-0">Date paid:</small>
        <span class="text-dark">{{modalContent?.buy_date_time | date: 'MMMM d, y, h:mm a'}}</span>
        </div>
        <!-- End Col -->

        <div class="col-md-4">
        <small class="text-cap text-secondary mb-0">Payment Channel</small>
        <div class="d-flex align-items-center">
            <span class="text-dark">{{modalContent?.payment_channel}}</span>
        </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->

    <small class="text-cap mb-2">Summary</small>

    <ul class="list-group mb-4">
        <li class="list-group-item text-dark">
        <div class="d-flex justify-content-between align-items-center">
            <span>Full name:</span>
            <span>{{modalContent.fname?.concat(' ').concat(modalContent?.lname) | titlecase }}</span>
        </div>
        </li>
        <li class="list-group-item text-dark">
          <div class="d-flex justify-content-between align-items-center">
              <span>Email:</span>
              <span>{{modalContent?.email}}</span>
          </div>
          </li>
        <li class="list-group-item text-dark">
        <div class="d-flex justify-content-between align-items-center">
            <span>Phone number:</span>
            <span>{{modalContent?.user_id}}</span>
        </div>
        </li>
        <li class="list-group-item text-dark">
        <div class="d-flex justify-content-between align-items-center">
            <span>Ticket Category:</span>
            <span>{{modalContent?.ticket_class}}</span>
        </div>
        </li>
        <li class="list-group-item list-group-item-light text-dark">
        <div class="d-flex justify-content-between align-items-center">
            <strong>Amount:</strong>
            <strong>{{modalContent?.amount | currency: '₦'}}</strong>
        </div> 
        </li>
    </ul>

    <!-- <div class="d-flex justify-content-end gap-3">
        <button class="btn btn-white btn-sm" (click)="openPdf(content)"><i class="bi-file-earmark-arrow-down-fill me-1"></i> PDF</button>
        <button class="btn btn-white btn-sm" (click)="printPdf(content)"><i class="bi-printer-fill me-1"></i> Print Receipt</button>
    </div> -->

    <hr class="my-5">

    <p class="modal-footer-text">If you have any questions, please contact us at <a class="link" href="mailto:support@moloyal.com">support@moloyal.com</a> or call at <a class="link text-nowrap" href="tel:+2348188775534">+234 818 877 5534</a></p>
    </div>
    <!-- End Body -->
</div>
</ng-template>